<!DOCTYPE html>
<html>

<body>
    <main>
        <h1> Admin Login </h1>
        <h2> For authorised personnel only.</h2>
        <h2> Unauthorised use of this page will be reported to the police. </h2>
        <form action="process_login.php" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br><br>
            <input type="submit" value="Login">
        </form>
        <div id="error-message"></div>
        <script src="login.js"></script>
    </main>
</body>

</html>