<!DOCTYPE html>
<html>
<body>
    <main>
        <form id="login_form" class="form_class" action="[Insert login url]" method="post">
            <div class="form_div">
                <label>Username:</label>
                <input class="field_class" name="username" type="text" autofocus>
                <label>Password:</label>
                <input id="pass" class="field_class" name="password" type="password">
                <button class="submit_class" type="submit" form="login_form" onclick="return validarLogin()">Enter</button>
            </div>
        </form>
    </main>
</body>
</html>