<!DOCTYPE html>
<html>

<body>
    <main>
        <h1> Database Search </h1>
        <h2> For authorised personnel only. Your IP will be logged if you are not authorised. </h2>
        <h2> Unauthorised use of this page will be reported to the police. </h2>
        <form id="search-form" action="process_search.php" method="get">
            <input type="text" name="search" placeholder="Search">
            <button type="submit">Search</button>
        </form>
        <div id="error-message"></div>
        <table id="search-results">
            <thead>
            </thead>
            <tbody>
            </tbody>
        </table>
        <script src="search.js"></script>
    </main>

</body>

</html>